@using TheBlogProject.ViewModels
@model ContactMe



<div id="main-wrapper">
    <div class="site-wrapper-reveal">

        <div class="contact-us-page-area section-space--pt_70 section-space--pb_100">
            <div class="container">

                <div class="contact-from section-space--pt_80">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="section-title" data-aos="fade-up">
                                <h3 class="title mb-30">Get In Touch</h3>
                            </div>
                            <form asp-action="Contact" id="#contact-form" class="contact-us-form" method="post">
                                <div class="single-input-box">
                                    <input asp-for="Name" type="text" placeholder="Name" required data-validation-required-message="Please enter your name.">
                                </div>
                                <div class="single-input-box">
                                    <input asp-for="Email" type="email" placeholder="Email Address" required data-validation-required-message="Please enter your email address.">
                                </div>
                                <div class="single-input-box">
                                    <input asp-for="Phone" type="tel" placeholder="Phone Number" required data-validation-required-message="Please enter your phone number.">
                                </div>
                                <div class="single-input-box">
                                    <input placeholder="Subject" asp-for="Subject" required data-validation-required-message="Please enter the subject."  />
                                </div>
                                <div class="single-input-box">
                                    <textarea placeholder="Message" asp-for="Message" required data-validation-required-message="Please enter a message."></textarea>
                                </div>
                                <div class="single-input-box">
                                    <button type="submit" class="btn-primary btn-large">Send Message <i class="icofont-long-arrow-right"></i></button>
                                </div>
                                <p class="form-messege"></p>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

}